
    <h1 class="header">Nodes
    </h1>

<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                active nodes

            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                node name
                            </th>
                            <th>
                                ip
                            </th>
                            <th>
                                status
                            </th>
                            <th>
                                containers#
                            </th>
                            <th>
                                reserved cpu cores
                            </th>
                            <th>
                                reserved memory
                            </th>
                            <th>
                                os
                            </th>
                            <th>
                                docker version
                            </th>
                            <th>
                                detach from swarm
                            </th>
                            <th>
                                add to database
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <% if @info['DriverStatus'][3][1] != 'true' %>
                          <% numberofnodes = @info['DriverStatus'][3][1].to_i %>
                          <% for i in 0..(numberofnodes-1) %>
                          <tr>
                            <td>
                                <%= nodename = @info['DriverStatus'][(i*9)+4][0] %>
                            </td>
                            <td>
                                <%= ip = @info['DriverStatus'][(i*9)+4][1] %>
                            </td>
                            <td>
                                <%=  @info['DriverStatus'][(i*9)+6][1] %>
                            </td>
                            <td>
                                <%=  containers = @info['DriverStatus'][(i*9)+7][1] %>
                            </td>
                            <td>
                                <%=  cpu = @info['DriverStatus'][(i*9)+8][1] %>
                            </td>
                            <td>
                                <%=  memory = @info['DriverStatus'][(i*9)+9][1] %>
                            </td>
                            <td>
                                <%= @info['DriverStatus'][(i*9)+10][1].truncate(10) %>
                            </td>
                            <td>
                                <%=  version =@info['DriverStatus'][(i*9)+12][1] %>
                            </td>
                            <td>
                              <%= button_to "remove",{action: :removefromswarm, :id => i, :ip => ip},{method: :post, class: "btn btn-danger btn-md" }%>
                            </td>
                            <td>
                              <%= button_to "add",{action: :addtodb,:id => i, :ip => ip, :nodename => nodename, :containers => containers, :cpu => cpu, :memory => memory, :docker_version => version },{method: :post, class: "btn btn-success btn-md" }%>
                            </td>
                          </tr>
                          <% end %>
                        <% else %>
                        <tr>
                          <td>
                          error, no nodes found
                          </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                node database
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                node name
                            </th>
                            <th>
                                ip
                            </th>
                            <th>
                                containers
                            </th>
                            <th>
                                cpu cores
                            </th>
                            <th>
                                memory
                            </th>
                            <th>
                                docker version
                            </th>
                            <th>
                                status
                            </th>
                            <th>
                                attach to swarm
                            </th>
                            <th>
                                remove from db
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <% @nodes.each do |n| %>
                        <% running = up(n.ip)  #check the status at the beginning %>
                        <tr>
                            <td>
                                <%= n.nodename %>
                            </td>
                            <td>
                                <%= n.ip %>
                            </td>
                            <td>
                                <%= n.containers %>
                            </td>
                            <td>
                                <%= n.cpu %>
                            </td>
                            <td>
                                <%= n.memory %>
                            </td>
                            <td>
                                <%= n.docker_version %>
                            </td>
                            <td>
                              <% if running %>
                                <span class="label label-success">
                                  <% status = 'up' %>
                                  <%= n.status = 'up' %>
                              <% else %>
                                <span class="label label-warning">
                                  <% status = 'down' %>
                                  <%= n.status = 'down' %>
                              <% end %>
                                </span>
                          </td>
                            <td>
                              <% if running %>
                                <%= button_to "add to swarm",{action: :addtoswarm, :id => n.id, :ip => n.ip},{method: :post, class: "btn btn-success" }%>
                              <% else %>
                                <button type="button" class="btn btn-success disabled">node is down</button>
                              <% end %>
                            </td>
                            <td>
                              <% if running %>
                                <button type="button" class="btn btn-danger disabled">node is up</button>
                              <% else %>
                                <%= button_to "remove from db",{action: :deletefromdb, :id => n.id},{method: :post, class: "btn btn-danger" }%>
                              <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
