<div class="center-block">
<h1 class="page-header">dosh</h1>


<%= pie_chart({"Containers running" => Docker.info['ContainersRunning'].to_i, "Containers stopped" => Docker.info['ContainersStopped'].to_i, "Containers paused" => Docker.info['ContainersPaused']}, width: "200px", height: "200px") %>


<% if @info['DriverStatus'][3][1] != 'true' %>
  <% numberofnodes = @info['DriverStatus'][3][1].to_i %>
  <% for i in 0..(numberofnodes-1) %>

  <div class="col-md-<%=12/numberofnodes%>">

  <%= @info['DriverStatus'][(i*9)+4][0] %>
  <%= @info['DriverStatus'][(i*9)+4][1] %>
  <!-- core -->
  <%=  @info['DriverStatus'][(i*9)+8][1] %>
  <%= pie_chart({"Allocated Cores" => 2, "Free Cores" => 3}) %>

  <!-- memory -->
  <%=  @info['DriverStatus'][(i*9)+9][1] %>

  <%= pie_chart({"Allocated Memory" => 5, "Free Memory" => 3}) %>


  </div>





    <% end %>
  <% else %>
    error, no nodes found
<% end %>

<br>
<%= Docker.info %>
Total: <%= Docker.info['Containers'] %>
Running: <%= Docker.info['ContainersRunning'] %>
Paused: <%= Docker.info['ContainersPaused'] %>
Stopped: <%= Docker.info['ContainersStopped'] %>
Images: <%= Docker.info['Images'] %>
NCPU: <%= Docker.info['NCPU'] %>
MEMORY: <%= number_to_human_size(Docker.info['MemTotal']) %>




<div class="row">

  <h1 class="header">Containers

    <div class="pull-right">

      <%= button_to "create new container", container_create_path, {:method => "get",class: "btn btn-primary"} %>

    </div>
  </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          id
        </th>
        <th>
          container name
        </th>
        <th>
          image repo:tag
        </th>
        <th>
          status
        </th>
        <th>
          command
        </th>
      </tr>
    </thead>
    <tbody>
      <% @containers.each do |container| %>
        <tr class="table-danger">

        <td>
          <span class="glyphicon glyphicon-search"></span>
          <%= link_to container.id.truncate(12, omission:''), container_path(:id => container.id.truncate(12, omission: '')) %>
        </td>
        <td>
          <%= link_to container.info['Names'].join(''), container_path(:id => container.id.truncate(12, omission: '')) %>
        </td>
        <td>
          <span class="glyphicon glyphicon-search"></span>
          <%= link_to container.info['Image'], image_path(:id => container.info['ImageID'].truncate(12, omission: ''))%>
        </td>
        <td>
          <span class="glyphicon glyphicon-time"></span>
          <% if container.info['Status'].include? "Up" %>
            <span class="label label-success">
          <% else %>
            <span class="label label-warning">
          <% end %>

          <%= container.info['Status'] %>
          </span>
        </td>
          <td width="40%">
          <span class="glyphicon glyphicon-console"></span>
          <%= container.info['Command'] %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
