<div class="row">

  <h1 class="header">Containers

    <div class="pull-right">

      <%= button_to "create new container", container_create_path, {:method => "get",class: "btn btn-primary"} %>

    </div>
  </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          id
        </th>
        <th>
          container name
        </th>
        <th>
          image repo:tag
        </th>
        <th>
          status
        </th>
        <th>
          command
        </th>
      </tr>
    </thead>
    <tbody>
      <% @containers.each do |container| %>
        <tr class="table-danger">

        <td>
          <span class="glyphicon glyphicon-search"></span>
          <%= link_to container.id.truncate(12, omission:''), container_path(:id => container.id.truncate(12, omission: '')) %>
        </td>
        <td>
          <%= link_to container.info['Names'].join(''), container_path(:id => container.id.truncate(12, omission: '')) %>
        </td>
        <td>
          <span class="glyphicon glyphicon-search"></span>
          <%= link_to container.info['Image'], image_path(:id => container.info['ImageID'].truncate(12, omission: ''))%>
        </td>
        <td>
          <span class="glyphicon glyphicon-time"></span>
          <% if container.info['Status'].include? "Up" %>
            <span class="label label-success">
          <% else %>
            <span class="label label-warning">
          <% end %>

          <%= container.info['Status'] %>
          </span>
        </td>
        <td>
          <span class="glyphicon glyphicon-console"></span>
          <%= container.info['Command'] %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
