<h1>Containers#new</h1>
<p>Find me in app/views/containers/new.html.erb</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class = "panel-title">
      new container
    </h3>
  </div>

  <div class="panel-body">

    <%= form_tag(container_create_path, method: "post") do %>

      <fieldset class="form-group">
        <%= label_tag(:name, "container name") %>
        <%= text_field_tag :name, "", class: 'form-control', placeholder: "name" %>
        <small class="text-muted">more information</small>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:image, "image") %>
        <%= select_tag(:image, options_for_select(@images.collect{ |i| [i.json['RepoTags'].join(''), i.json['RepoTags'].join('')]})) %>
      </fieldset>


      <fieldset class="form-group">
        <%= label_tag(:hostname, "hostname") %>
        <%= text_field_tag :hostname, "", class: 'form-control', placeholder: "name" %>
        <small class="text-muted">more information</small>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:command, "command") %>
        <%= text_field_tag :command, "", class: 'form-control', placeholder: "/bin/bash" %>
        <small class="text-muted">more information</small>
      </fieldset>


      <fieldset class="form-group">
        <%= label_tag(:tty, "tty ") %>
        <%= select_tag(:tty, options_for_select(['true', 'false'])) %>
      </fieldset>



      <%= submit_tag "create", class:  "btn btn-primary"%>
    <% end %>

  </div>
</div>
