<h1>New Container</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class = "panel-title">
      container settings
    </h3>
  </div>

  <div class="panel-body">

    <%= form_tag(container_create_path, method: "post") do %>

      <fieldset class="form-group">
        <%= label_tag(:name, "container name") %>
        <%= text_field_tag :name, "", class: 'form-control', placeholder: "container_name" %>
        <small class="text-muted">
          Assign the specified name to the container.
        </small>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:image, "image") %>
        <%= select_tag(:image, options_for_select(@images.collect{ |i| [i.json['RepoTags'].join(''), i.json['RepoTags'].join('')]})) %>
      </fieldset>


      <fieldset class="form-group">
        <%= label_tag(:hostname, "hostname") %>
        <%= text_field_tag :hostname, "", class: 'form-control', placeholder: "hostname" %>
        <small class="text-muted">
          A string value containing the hostname to use for the container.
        </small>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:command, "command") %>
        <%= text_field_tag :command, "", class: 'form-control', placeholder: "/bin/bash" %>
        <small class="text-muted">
          Command to run specified as a string or an array of strings.
        </small>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:env, "enviroment variables") %>
        <%= text_field_tag :env, "", class: 'form-control', placeholder: "FOO=bar, BAZ=quux" %>
        <small class="text-muted">
          A list of environment variables, seperated with a comma.
         </small>
      </fieldset>


      <fieldset class="form-group">
        <%= label_tag(:tty, "tty ") %>
        <%= select_tag(:tty, options_for_select(['true', 'false'])) %>
      </fieldset>



      <%= submit_tag "create", class:  "btn btn-primary"%>
    <% end %>

  </div>
</div>
