<h1>USRP discovery</h1>
<div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-heading" style="height: 50px">
            <h3 class="panel-title">
                USRP discovery/probe
                <div class="pull-right">
                  <%= link_to "discover", usrps_path({:discover => true}), :class => "btn btn-primary" %>
                </div>

            </h3>
        </div>
        <div class="panel-body">
          <pre>
            <% if !@stdout.blank? %>
<%= @stdout %>
            <% elsif !@stdout_probe.blank? %>
<%= @stdout_probe %>
            <% else %>
click discover or probe a USRP from the database.
            <% end %>
          </pre>
          <!-- <pre>
            <%= @stderr %>
          </pre>
          <pre>
            <%= @status %>
          </pre> -->
          <div class="pull-down">

          <%= form_for(@usrp) do |f| %>
          <fieldset class="form-group">
              <%= label_tag(:usrp_ip, "USRP ip") %>
              <%= select_tag(:usrp_ip, options_for_select(@found_usrps.collect{|i| [i[1]["addr"]]}), class: "form-control input", :include_blank => '- none -', :style => "width:200px") %>
            </fieldset>
            <div class="actions">
              <%= f.submit "add to database", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        </div>
    </div>

</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                USRP database
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>
                              ip
                          </th>
                          <th>
                              model
                          </th>
                          <th>
                              alive?
                          </th>
                          <th>
                              assigned to
                          </th>
                          <th>
                              created at
                          </th>
                          <th>
                              probe
                          </th>
                          <th>
                              start container
                          </th>
                          <th>
                              delete
                          </th>
                      </tr>
                  </thead>
                    <tbody>
                      <% @usrps.each do |u| %>
                        <tr>
                            <!-- check if device is online  -->
                            <% up = ping(u.ip)  %>
                            <td>

                              <%= u.ip %>
                            </td>
                            <td>
                              <%= u.model %>
                            </td>
                            <td>
                              <!-- TODO PING THEM -->
                              <% if up %>
                                <span class="label label-success">
                                  up
                              <% else %>
                                <span class="label label-warning">
                                  down
                              <% end %>
                              </span>
                            </td>
                            <td>
                              <%= u.assigned %> <!-- CLICKABLE AND LINK TO CONTAINER  -->
                            </td>
                            <td>
                              <%= u.created_at %>
                            </td>
                            <td>
                              <%= link_to "probeN", usrps_path({:probe_ip => u.ip}), :class => "btn btn-success" %>
                            </td>
                            <td>
                              <!-- TODO -->
                              <%= button_to "create",{action: :index, :id => u.id},{method: :get, class: "btn btn-primary" }%>
                            </td>
                            <td>
                              <%= button_to "remove",{action: :remove, :id => u.id},{method: :post, class: "btn btn-danger" }%>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
</div>
