<h1>USRP discovery</h1>

<div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                USRP discovery
                <div class="pull-right">
                  <%= button_to "refresh",{action: :index },{method: :get, class: "btn-md btn-primary" }%>
                </div>

            </h3>
        </div>
        <div class="panel-body">

          <p>using uhd</p>
          OUT1:
          <p> <%=   @stdout  %> </p>
          ERR1:
          <p> <%=   @stderr %> </p>
          STAT1:
          <p> <%=   @status %> </p>





          <%= form_for(:usrp) do |f| %>
            <div class="field">
              <%= f.label :ip %><br>
              <%= f.text_field :ip %>
            </div>
            <div class="field">
              <%= f.label :model %><br>
              <%= f.text_field :model %>
            </div>
            <div class="actions">
              <%= f.submit "Create", class: "btn btn-primary" %>
            </div>
          <% end %>


        </div>
    </div>

</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                USRP database
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>
                              ip
                          </th>
                          <th>
                              model
                          </th>
                          <th>
                              alive?
                          </th>
                          <th>
                              start container
                          </th>
                          <th>
                              delete
                          </th>
                      </tr>
                  </thead>
                    <tbody>
                      <% @usrps.each do |u| %>
                        <tr>
                            <td>
                              <%= u.ip %>
                            </td>
                            <td>
                              <%= u.model %>
                            </td>
                            <td>
                              <%= u.created_at %>
                              <% if 1 %>
                                <span class="label label-success">
                                  up
                              <% else %>
                                <span class="label label-warning">
                                  down
                              <% end %>
                              </span>
                            </td>
                            <td>
                              <%= button_to "create",{action: :index },{method: :get, class: "btn-xs btn-primary" }%>

                            </td>
                            <td>
                              <%= button_to "remove",{action: u.destroy},{method: :get, class: "btn-xs btn-danger" }%>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
</div>
