<h1>USRP discovery</h1>
<p>using uhd</p>
<p> <%= @value %> </p>
OUT1:
<p> <%=   @stdout  %> </p>
ERR1:
<p> <%=   @stderr %> </p>
STAT1:
<p> <%=   @status %> </p>

<p> </p>
<p></p>
<p>  </p>

OUT2:
<p> <%=   @out  %> </p>
ERR2:
<p> <%=   @err %> </p>
