<h1 class="header">Images</h1>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  id
                </th>
                <th>
                  repo tags
                </th>
                <th>
                  created at
                </th>
                <th>
                  virtual size
                </th>
                <th>
                  real size
                </th>
              </tr>
            </thead>
            <tbody>
              <% @images.each do |image| %>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-search"></span>
                  <%= link_to image.json['Id'].truncate(12, omission: ''), image_path(:id => image.json['Id'].truncate(12, omission: '')) %>

                </td>
                <td>
                  <%= image.json['RepoTags'].join('') %>
                </td>
                <td>
                  <%= Time.at(image.info['Created']) %>
                </td>
                <td>
                  <%= number_to_human_size(image.info['Size']) %>
                </td>
                <td>
                  <%= number_to_human_size(image.info['VirtualSize']) %>
                </td>

              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
