<!DOCTYPE html>
<html lang="en">
    <head>

        <!--ME-- LOAD STYLESHEETS AND JAVASCRIPTS -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="dosh.">
        <meta name="author" content="lennart.heim@rwth-aachen.de">
        <link rel="icon" href="../../public/favicon.ico">

        <title>dosh</title>

        <!-- Bootstrap core CSS -->
        <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
        <!----- <link href="../../assets/stylesheets/home.scss" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">dosh</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="<%= 'active' if current_page?(home_path) %>">
                            <%= link_to "Dashboard", home_path %>
                        </li>
                        <li class="<%= 'active' if current_page?(containers_path) %>">
                            <%= link_to "Containers", containers_path %>
                        </li>
                        <li class="<%= 'active' if current_page?(images_path) %>">
                            <%= link_to "Images", images_path %>
                        </li>
                        <li class="<%= 'active' if current_page?(nodes_path) %>">
                            <%= link_to "Swarm Nodes", nodes_path %>
                        </li>
                        <li class="<%= 'active' if current_page?(usrps_path) %>">
                            <%= link_to "USRPs", usrps_path %>
                        </li>
                        <li>
                            <%= link_to "Settings", home_path %>
                        </li>
                        <li>
                            <%= link_to "Help", "https://github.com/lheim/dosh", :target => "_blank" %>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>

        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert #{flash_type(name)} fade in" %>
        <% end %>

        <div class="col-sm-12">
            <!-- MAINCONTENT from pages-->
            <%= yield %>
        </div>
      </body>
        <!-- FOOTER -->

        <div id="footer">
            <div class="container">
                <% begin Docker.version %>
                Docker Server Version:
                <strong>
                    <%= Docker.version['Version'] %>
                </strong>
                Docker API Version:
                <strong>
                    <%= Docker.version['ApiVersion'] %>
                </strong>
                OS:
                <strong>
                    <%= Docker.version['Os'] %>
                    <%= Docker.version['Arch'] %>
                </strong>
                URL
                <strong>
                <%= Docker.url %>
                </strong>


                <% rescue %>
                <strong>
                    no docker engine found.
                </strong>
                <% end %>
            </div>
          </div>
</html>
